body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #c8c4ff00;
}
  
  h1 {
    color: #33333371;
  }
  
  h2 {
    margin-top: 30px;
    font-size: 18px;
  }
  
  button {
    margin: 5px 0;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  input {
    padding: 6px;
    margin: 5px 0;
  }
  
  section, div {
    margin-bottom: 20px;
  }
  
  p {
    color: #5555559f;
  }
  